@import url('./lightbox.css');

#contact_modal {
    display: none;
    overflow: hidden;
}.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
}.photograph-header div{
    margin: 0;
}.photograph-header h1{
    color: #d3573c;
    font-size: 50px;
    margin: 0;
}.photograph-header .location{
    font-size: medium;
}.photograph-header .tagline{
    font-size: 12px;
    color: #626262;
}.photograph-header img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}.contact_button, .contact_submit_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    text-align: left;
    border-radius: 5px;
    background-color: #DB8876;
    min-width: 500px;
    width: 40vw;
    height: 85vh;
    padding: 35px;
    margin: calc((100vh - 85vh) / 2 - 35px) calc((60vw / 2) - 35px);
}#contact_modal::before{
    display: block;
    position: fixed;
    top: 0;
    content: '';
    background-color: rgba(113, 113, 113, 0.329);
    width: 100%;
    height: 100%;
}.modal header {
    justify-content: space-between;
    width: 100%;
    height: 130px;
}.modal header h2 {
    font-size: 60px;
    font-weight: normal;
    position: static;
}.modal header img {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}form {
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
    align-items: flex-start;
}form label {
    color: #312E2E;
    font-size: 36px;
}form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}form input, form textarea {
    width: 100%;
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}form textarea#msg {
    font-size: 16px;
    height: 100px;
    resize: none;
}

.photograph-main{
    margin: 20px 100px;
    margin-bottom: 40px;
}

.photograph-main label{
    font-weight: bold;
}.select_container{
    width: 200px;
    position: relative;
}.select_container .select{
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    color: #fff;
    background: #901c1c;
    text-align: left;
    padding: 0 15px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}.select_container .select::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}.select_container .select.active::after{
    transform: translateY(-50%) rotate(-135deg);
}.select_container .select:hover{
    background: #7f1818;
}.select_container .select.active{
    background: #901c1c;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}.select_container .options{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: fit-content;
    background: #901c1c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: none;
}.select_container .options.active{
    display: block;
}.select_container .options .item{
    position: relative;
    z-index: 1;
    color: #fff;
    text-transform: capitalize;
    border-top: 1px white solid;
    width: calc(100% - 30px);
    height: 30px;
    margin: 0 15px;
    padding: 10px 0;
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}



.photograph-main .media_grid{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}.photograph-main .media_grid .media_element:focus{
    border:blue 2px solid;
    border-radius: 5px;
}.photograph-main .media_grid .media_element{
    margin: 10px 3px 30px 3px;
    width: 200px;
    height: 200px;
}.media_element img, .media_element video{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: -10px;
}.media_element i{
    position: absolute;
    padding: 10px;
    color: #901C1C;
}.media_element div{
    display: flex;
    color: #901C1C;
    align-items: center;
    justify-content: space-between;
}.media_element div p{
    display: inline ruby;
}.media_element div .titre{
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}.heart::after{
    color: #901C1C;
    content: "\f004";
}

.photograph-foot{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;

    background-color: #db8876;
    border-radius: 5px 5px 0 0;

    width: 170px;
    height: 35px;
    
    margin-right: 30px;
    padding: 0 20px;

    right: 0;
    bottom: 0;
}.photograph-foot *{
    color: black;
    font-weight: bold;
}